{% extends "layouts/base.html" %}

{% block title %} ccgen {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
        
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Card Generator</h5>
                                    </div>
                                    <div id="app">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form-generator></form-generator>
                                                </div>
                                                <div class="col-md-6">
                                                    <generated-credit-cards></generated-credit-cards>
                                                </div>
                                            </div>
                                            <input type="hidden" name="IL_IN_ARTICLE">
                                            <input type="hidden" name="IL_IN_TAG" value="2">
                                    
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/pages/func.js"></script>
{% endblock javascripts %}
